

.circle {
  display: table;
  
}

.circle canvas {
  vertical-align: top;
  position: absolute;
}



.circle strong {
  width: 100%;
  font-size: 50px;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.circle strong i {
  font-style: normal;
  font-size: 0.6em;
  font-weight: normal;
}

.circle span {
  display: block;
  color: #aaa;
  margin-top: 12px;
}

.center{
  margin: 11px auto;
}